<a href="https://colab.research.google.com/github/Ckhycharles/regression-in-tensorflow/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
rank_1 = tf.Variable(["charles","alice"])
rank_1.shape

TensorShape([2])

In [ ]:
rank_1 = tf.reshape(rank_1,[1,2])

#core learning algorithm in tensorflow
1.linear tf.regression
2.classification
3.clustering
4.hidden markov models

In [ ]:
from sklearn.metrics import mean_absolute_error
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import matplotlib.pyplot as plt

In [ ]:
dftrain = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv') # training data
dfeval = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/eval.csv') # testing data

In [ ]:
dftrain

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
...,...,...,...,...,...,...,...,...,...,...
622,0,male,28.0,0,0,10.5000,Second,unknown,Southampton,y
623,0,male,25.0,0,0,7.0500,Third,unknown,Southampton,y
624,1,female,19.0,0,0,30.0000,First,B,Southampton,y
625,0,female,28.0,1,2,23.4500,Third,unknown,Southampton,n
626,0,male,32.0,0,0,7.7500,Third,unknown,Queenstown,y

In [ ]:
y_train = dftrain.pop('survived')
y_eval = dfeval.pop('survived')

In [ ]:
dftrain.describe()

              age  n_siblings_spouses       parch        fare
count  627.000000          627.000000  627.000000  627.000000
mean    29.631308            0.545455    0.379585   34.385399
std     12.511818            1.151090    0.792999   54.597730
min      0.750000            0.000000    0.000000    0.000000
25%     23.000000            0.000000    0.000000    7.895800
50%     28.000000            0.000000    0.000000   15.045800
75%     35.000000            1.000000    0.000000   31.387500
max     80.000000            8.000000    5.000000  512.329200

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


def enter_name_of_dataset ():
    name =str(input("enter the name of the dataset"))
    return name
dataset = enter_name_of_dataset()
dataset = pd.read_csv(dataset)
def print_dataset():
    print(dataset)
print_dataset()


#linear regression
def check_for_missing_values():
    a = dataset.isnull().sum()
    if(a >0):
        print("there are missing values in the dataset")
        from sklearn.impute import SimpleImputer
        imputer = SimpleImputer(missing_values=np.nan ,strategy='mean')
        imputer = imputer.fit_transform(dataset)
        dataset = imputer
        return dataset
    else:
        print("there are no missing values in the dataset")
        return dataset
check_for_missing_values()
def num_of_independent():
    columns_included = int(input("enter number of columns in independent variable"))
    return columns_included
def num_of_dependent():
    columns_excluded = int(input("enter columns tu be used as dependent variable"))
    return columns_excluded

X = dataset.iloc[:, :num_of_independent()].values
Y = dataset.iloc[:, num_of_dependent()].values
print(X)
print(Y)
def describe_dataset():
    print(dataset.describe())
My_dataset = dataset.describe()
print(My_dataset)

def split_dataset_into_test_train():
    from sklearn.model_selection import train_test_split
    training_size = int(input("Enter the training percentage between 1-100%"))
    X_train,X_test,y_train,y_test = train_test_split(X,Y, train_size=training_size,random_state=0)
    return X_train,X_test,y_train,y_test
split_dataset_into_test_train()
##linear regression
def linear_regression():
    from sklearn.linear_model import LinearRegression
    regressor = linear_regression()
    X_train ,y_train =  regressor.fit(X_train,y_train)
    return

enter the name of the dataset/Data.csv
   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

UnboundLocalError: cannot access local variable 'dataset' where it is not associated with a value

In [ ]:
y_train

0      0
1      1
2      1
3      1
4      0
      ..
622    0
623    0
624    1
625    0
626    0
Name: survived, Length: 627, dtype: int64